[submodule "app-microservice-auth-node"]
	path = app-microservice-auth-node
	url = https://github.com/RenatoBrunetti/app-microservice-auth-node.git
[submodule "app-microservice-user-node"]
	path = app-microservice-user-node
	url = https://github.com/RenatoBrunetti/app-microservice-user-node.git
